/* Importation du fichier normalize.css */

@import url("normalize.css");

/* BASE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto
}

/* Typography */

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,800;1,100;1,200;1,300;1,400&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* HEADER */

header {
  width: 95%;
  height: 80px;
  margin: auto;
  margin-top: 20px;
}

/* NAVIGATION */

nav {
  display: flex;
  align-items: center;
}

nav .logo img {
  width: 120px;
}

nav .link {
  display: flex;
  margin-left: auto;
  flex-wrap: wrap;
}

nav .link a {
  padding: 0px 30px;
}

nav .link a:hover {
  border-top: 5px solid #0065FC;
  color: #0065FC;
  padding-top: 38px;
}

/* RECHERCHE */

.search {
  width: 95%;
  margin: auto;
  margin-top: 20px;
}

.search h1 {
  padding-bottom: 10px;
  margin-bottom: 0;
  font-size: 24px;
}

.search .substitle {
  font-size: 17px;
  padding-bottom: 10px;
}

.search .bar {
  position: relative;
  margin-top: 10px;
  display: flex;
}

.search .bar input {
  border: 1px solid #F2F2F2;
  height: 50px;
  width: 180px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 18px;
}

.search .bar input::placeholder {
  color: black;
}

.search .bar input:focus {
  outline: none;
}

.search .bar i:nth-child(1) {
  background-color: #F2F2F2;
  padding: 17.5px;
  border-radius: 15px 0px 0px 15px;
}

.search .bar .research-responsive {
  display: none;
}

.search .bar .research {
  background-color: #0065FC;
  border: none;
  height: 49px;
  color: white;
  padding: 0 15px;
  border-radius: 0px 15px 15px 0px;
  font-weight: bold;
}

/* FILTRES */

.filter {
  width: 95%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.filter h2 {
  font-size: 20px;
}

.filter .icon ul {
  display: flex;
  flex-wrap: wrap;
}

.filter .icon ul li {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 0px 15px 0px 0px;
  border: 3px solid #F2F2F2;
  border-radius: 50px;
  margin-left: 30px;
  margin-top: 10px;
  height: 55px;
}


.filter .icon ul li:nth-child(2)>i {
  padding: 17px 20px;
}

.filter .icon ul li:nth-child(2):hover>i {
  padding: 14px 17px;
}

.filter .icon ul li:hover {
  background-color: #DEEBFF;
}

.filter .icon i {
  margin-right: 10px;
  color: #0065FC;
  font-size: 20.8px;
  border-radius: 50px;
  padding: 17px 17px;
  background-color: #DEEBFF;
  margin-left: -5px;
}

.filter .icon ul li:hover i {
  background-color: white;
  border: 3px solid #F2F2F2;
  padding: 14px 14px;

}

/* INFO */

.info {
  width: 95%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.info i {
  border: 1px solid #b1a5a5;
  border-radius: 50%;
  padding: 4px 10px 6px 10px;
  color: #0065FC;
  font-size: 16px;
  margin-right: 5px;
}

.info p {
  font-size: 17px;
  margin-left: 10px;
}

/* SECTION HEBERGEMENT + PLUS POPULAIRES */

.acco-and-mp {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: auto;
}

/* HEBERGEMENT */

.accommodation {
  flex: 3;
  background-color: #F2F2F2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0px;
}

.accommodation h2 {
  padding-top: 20px;
  font-size: 24px;
  margin-left: 40px;
  margin-bottom: 15px;
}

.accommodation .more {
  margin: 20px 35px;
  font-weight: 700;
  font-size: 18px;
}

.container-acco-thumbnail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.thumbnail-acco {
  transition: ease 0.1s;
}

.thumbnail-acco:hover {
  transform: scale(1.05);
}

.thumbnail-acco a {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 235px;
  height: 190px;
  margin: 15px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 12px 18px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  padding: 5px;
}


.thumbnail-acco a .image {
  flex: 2.5;
  position: relative;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.thumbnail-acco a .image img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  object-fit: contain;
}

.thumbnail-acco a .description {
  flex: 1.5;
  margin-left: 5px;
  margin-top: 5px;
}

.thumbnail-acco a .description .title {
  font-size: 18px;
  font-weight: bold;
  margin: 1px 0;
}

.thumbnail-acco a .description .rate {
  font-size: 16px;
  margin: 3px 0;
}

.thumbnail-acco a .description .rate .price--bold {
  font-weight: bold;
}

.thumbnail-acco a .description .note {
  display: flex;
  margin: 7px 0;
}

.thumbnail-acco a .description .note i {
  font-size: 12px;
}

.thumbnail-acco a .description .note--starsblue {
  color: #0065FC;
}

.thumbnail-acco a .description .note--starsgrey {
  color: #F2F2F2;
}

/* PLUS POPULAIRES */

.most-popular {
  flex: 1;
  background-color: #F2F2F2;
  border-radius: 20px;
  padding: 20px 30px;
  margin-left: 20px;
}

.most-popular .title-and-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.most-popular h2 {
  padding-top: 20px;
  font-size: 24px;
  margin-bottom: 15px;
}

.container-mp-thumbnail {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.thumbnail-mp {
  transition: ease 0.1s;
}

.thumbnail-mp:hover {
  transform: scale(1.05);
}

.thumbnail-mp a {
  display: flex;
  background-color: white;
  width: 310px;
  height: 130px;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 12px 18px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  margin-top: 20px;
}

.thumbnail-mp .image {
  flex: 1.5;
}

.thumbnail-mp .image img {
  width: 100%;
  height: 100%;
  padding: 7px;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}

.thumbnail-mp a .description {
  flex: 2.5;
  display: flex;
  flex-direction: column;
}

.thumbnail-mp a .description .title {
  flex: 1;
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
}

.thumbnail-mp a .description .rate {
  flex: 1;
}

.thumbnail-mp a .description .note {
  display: flex;
  margin: 10px 0;
}

.thumbnail-mp a .description .note i {
  font-size: 12px;
}

.thumbnail-mp a .description .note--starsblue {
  color: #0065FC;
}

.thumbnail-mp a .description .note--starsgrey {
  color: #F2F2F2;
}

/* ACTIVITES */

.activity {
  width: 100%;
  margin: auto;
  margin-top: 60px;
}

.activity h2 {
  font-size: 24px;
  margin-top: 10px;
  margin-left: 38px;
}

.activity h3 {
  font-size: 17px;
  padding: 17px 20px;
}

.container-activity-thumbnail {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 97.5%;

}

.scale_effet {
  transition: ease 0.1s;
}

.scale_effet:hover {
  transform: scale(1.05);
}


.thumbnail-activity_large_card a {
  flex-direction: column;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 12px 18px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  margin: 30px auto;
  width: 80%;
  height: 440px;
}

.thumbnail-activity_large_card a img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  flex: 5.5;
}

.thumbnail-activity_mini_cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  height: 470px;

}

.mc1 a,
.mc2 a,
.mc3 a,
.mc4 a {
  flex-direction: column;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 12px 18px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  margin-top: 30px;
  width: 100%;
}

.image {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  flex: 5.5;
}

.mc1 a {
  height: 240px;
}

.mc2 a {
  height: 160px;
}

.mc3 a {
  height: 180px;
}

.mc4 a {
  height: 210px;
}



/* FOOTER */

.footer {
  margin-top: 60px;
  padding: 50px 10px;
  background-color: #F2F2F2;
  width: 100%;
}

.container-footer {
  width: 95%;
  margin: auto;
  display: flex;
}

.category {
  flex: 1;
}

.category ul li {
  margin-top: 15px;
}


/* MEDIA QUERY //////////////////////////////////////////////////////////////*/


@media screen and (max-width: 992px) {

  header,
  .search,
  .filter,
  .info {
    width: 95%;
    margin: auto;
    margin-top: 20px;
  }

  .filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .filter .icon ul li {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 10px;
  }

  .acco-and-mp {
    flex-direction: column-reverse;
    align-items: center;
    width: 95%;
    margin: auto;
  }

  /* MD 992px => Plus populaires */

  .most-popular {
    width: 100%;
    margin: 20px auto;
  }

  .thumbnail-mp {
    width: 100%;
    margin: 10px auto;
  }

  .thumbnail-mp a {
    width: 100%;
  }

  .thumbnail-mp .image {
    flex: 1;
  }

  /* MD 992px => ACTIVITES */

  .activity {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }

  .activity h2 {
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .container-activity-thumbnail {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .thumbnail-activity_large_card a {
    width: 100%;
    height: 200px;
    margin: 20px auto;
  }

  .thumbnail-activity_mini_cards {
    width: 100%;
    margin: 20px auto;
  }

  .thumbnail-activity_mini_cards a {
    width: 100%;
    height: 200px;
    margin: 20px auto;
  }


  /* MD 992px => FOOTER */


  .footer {
    margin-top: 60px;
    padding: 50px 0px;
    background-color: #F2F2F2;
    width: 100%;
  }

  .container-footer {
    width: 95%;
  }

}

@media screen and (max-width: 768px) {

  header {
    width: 100%;
    height: 120px;
  }

  nav {
    position: relative;
    flex-direction: column;
  }

  nav .link-sub {
    order: 1;
    position: absolute;
    left: 0;
    top: 80px;
    display: flex;
    width: 100%;
    flex-basis: 100%;
    height: 40px;
    justify-content: center;
  }

  nav .link-sub>a {
    flex-basis: 50%;
    text-align: center;
    border-bottom: 3px solid #F2F2F2;
    padding-top: 0px;
  }

  nav .link-sub>a:hover {
    border-top: none;
    border-bottom: 3px solid #0065FC;
    color: #0065FC;
    padding-top: 0px;
  }

  /* MQ 768px => RECHERCHE */

  .search .bar {
    justify-content: center;
    margin-top: 20px;
  }

  .search .bar input {
    width: 240px;
  }

  .search .bar .research-responsive {
    display: flex;
    position: absolute;
    background-color: #0065FC;
    padding: 17px 17px;
    border-radius: 15px;
    color: white;
    margin-right: -240px;
    border: none;
  }

  .search .bar .research {
    display: none;
  }

  /* MQ 768px => INFO */

  .info {
    margin-bottom: 20px;
  }

  /* MQ 768px => PLUS POPULAIRE + HEBERGEMENT */

  .acco-and-mp {
    flex-direction: column-reverse;
    flex: 1;
    width: 100%;
    margin: auto;
  }

  /* MQ 768px => HEBERGEMENT */

  .accommodation {
    background-color: white;
    width: 100%;
    margin: auto;
    padding: 0;
  }

  .accommodation h2 {
    margin-left: 18px;
    margin-bottom: 0px;
  }

  .accommodation .more {
    margin-top: 20px;
    margin-left: 10px;
  }

  .container-acco-thumbnail {
    display: flex;
    flex-direction: column;
  }

  .thumbnail-acco a {
    width: 95%;
    margin: 30px auto;
  }

  /* MD 768px => PLUS POPULAIRES */

  .most-popular {
    margin: 0;
    border-radius: 0;
    background-color: #F2F2F2;
    padding: 40px 0px;
    width: 100%;
  }

  .most-popular h2 {
    margin-left: 17px;
  }

  .title-and-icon i {
    margin-right: 25px;
  }

  .thumbnail-mp a {
    width: 95%;
    margin: 10px auto;
  }

  /* MD 768px => ACTIVITES */

  .activity {
    width: 95%;
    margin: auto;
    margin-top: 40px;
  }

  .thumbnail-activity {
    width: 100%;
    margin: 5px auto;
  }

  /* MD 768px => FOOTER */


  .footer {
    margin-top: 60px;
    padding: 50px 0px;
    background-color: #F2F2F2;
    width: 100%;
  }

  .container-footer {
    width: 95%;
    margin: auto;
    flex-direction: column;
  }

  .category {
    margin-bottom: 40px;
  }
}