/* BASE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Typography */

:root {
  --primary-color: #0065FC;
  --secondary-color: #DEEBFF;
  --third-color: #F2F2F2;

  --width-larg-screen: 1440px;
}

* {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* Animations */

.scale_effet {
  transition: ease 0.1s;
}

.scale_effet:hover {
  transform: scale(1.05);
}


/* HEADER */

header {
  width: 100%;
  height: 80px;
  margin: auto;
  margin-top: 20px;
}

.container-larg-max {
  max-width: var(--width-larg-screen);
  margin: auto;
}

.container-header {
  width: 95%;
  margin: auto;
}

/* NAVIGATION */

nav {
  display: flex;
  align-items: center;
}

nav .logo img {
  width: 120px;
}

nav .link {
  display: flex;
  margin-left: auto;
  flex-wrap: wrap;
}

nav .link a {
  padding: 0px 30px;
}

nav .link a:hover {
  border-top: 5px solid var(--primary-color);
  color: var(--primary-color);
  padding-top: 38px;
}

main {
  max-width: var(--width-larg-screen);
  margin: auto;
}

/* RECHERCHE */

.search {
  width: 95%;
  margin: auto;
  margin-top: 20px;
}

.search h1 {
  padding-bottom: 10px;
  margin-bottom: 0;
  font-size: 24px;
}

.search .substitle {
  font-size: 17px;
  padding-bottom: 10px;
}

.search .bar {
  margin-top: 10px;
  display: flex;
}

.search .bar input {
  border: 1px solid var(--third-color);
  height: 50px;
  width: 180px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 18px;
}

.search .bar input::placeholder {
  color: black;
}

.search .bar input:focus {
  outline: none;
}

.search .bar i:nth-child(1) {
  background-color: var(--third-color);
  padding: 17.5px;
  border-radius: 15px 0px 0px 15px;
}

.search .bar .research-responsive {
  display: none;
}

.search .bar .research {
  background-color: var(--primary-color);
  border: none;
  height: 49px;
  color: white;
  padding: 0 15px;
  border-radius: 0px 15px 15px 0px;
  font-weight: bold;
  cursor: grab;
}

/* FILTRES */

.filter {
  width: 95%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.filter p {
  font-size: 19px;
  font-weight: bold;
}

.filter .icon ul {
  display: flex;
  flex-wrap: wrap;
}

.filter .icon ul li {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 0px 15px 0px 0px;
  border: 3px solid var(--third-color);
  border-radius: 50px;
  margin-left: 30px;
  height: 55px;
  cursor: grab;
}


.filter .icon ul li:nth-child(2)>i {
  padding: 17px 20px;
}

.filter .icon ul li:nth-child(2):hover>i {
  padding: 14px 17px;
}

.filter .icon ul li:hover {
  background-color: var(--secondary-color);
}

.filter .icon i {
  margin-right: 10px;
  color: var(--primary-color);
  font-size: 20.8px;
  border-radius: 50px;
  padding: 17px 17px;
  background-color: var(--secondary-color);
  margin-left: -5px;
}

.filter .icon ul li:hover i {
  background-color: white;
  border: 3px solid var(--third-color);
  padding: 14px 14px;

}

/* INFO */

.info {
  width: 95%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.info i {
  border: 4px solid var(--third-color);
  border-radius: 50%;
  padding: 4px 10px 6px 10px;
  color: var(--primary-color);
  font-size: 16px;
  margin-right: 5px;
}

.info p {
  font-size: 17px;
  margin-left: 10px;
}

/* SECTION HEBERGEMENT + PLUS POPULAIRES */

.acco-and-mp {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: auto;
}

/* HEBERGEMENT */

.accommodation {
  flex: 2;
  background-color: var(--third-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accommodation h2 {
  padding-top: 20px;
  font-size: 24px;
  margin-left: 32px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.accommodation .more {
  margin: 20px 35px;
  font-weight: 700;
  font-size: 18px;
}

.accommodation .more:hover {
  color: var(--primary-color);
}

.container-acco-thumbnail {
  display: flex;
  flex-wrap: wrap;
  height: 550px;
  width: 100%;
  justify-content: center;
}

.thumbnail-acco {
  background-color: white;
  max-height: 380px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 12px 18px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  padding: 5px;
  position: relative;
  width: 30%;
  height: 45%;
}


.thumbnail-acco:nth-child(1),
.thumbnail-acco:nth-child(2),
.thumbnail-acco:nth-child(3) {
  margin-bottom: 20px;
}

.thumbnail-acco:nth-child(1),
.thumbnail-acco:nth-child(2),
.thumbnail-acco:nth-child(4),
.thumbnail-acco:nth-child(5) {
  margin-right: 15px;
}


.thumbnail-acco a {
  width: 100%;
  height: 100%;
}

.border-img {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  border-radius: 20px;
}


.thumbnail-acco .image:nth-child(1) {
  overflow: hidden;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

/* Image pour responsive mobile (largeur trop grande pour une small) */
.thumbnail-acco .image:nth-child(2) {
  overflow: hidden;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  display: none;
}

.thumbnail-acco .description {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  z-index: 222;
  width: 100%;
  height: 100px;
  overflow: hidden;
  padding-left: 15px;
  padding-top: 5px;
}

.thumbnail-acco a .description .title {
  font-size: 18px;
  font-weight: bold;
  margin: 3px 0;
}

.thumbnail-acco a .description .rate {
  font-size: 16px;
  margin: 1px 0;
}

.thumbnail-acco a .description .rate .price--bold {
  font-weight: bold;
}

.thumbnail-acco a .description .note {
  display: flex;
  position: absolute;
  bottom: 12px;
}

.thumbnail-acco a .description .note i {
  font-size: 12px;
}

.thumbnail-acco a .description .note--starsblue {
  color: var(--primary-color);
}

.thumbnail-acco a .description .note--starsgrey {
  color: var(--third-color);
}

/* PLUS POPULAIRES */

.most-popular {
  flex: 1;
  background-color: var(--third-color);
  border-radius: 20px;
  margin-left: 20px;
}

.most-popular .title-and-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.most-popular .title-and-icon i {
  margin-right: 50px;
  margin-top: 20px;
}

.most-popular h2 {
  padding-top: 20px;
  font-size: 24px;
  margin-left: 32px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.container-mp-thumbnail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 650px;

}

.thumbnail-mp {
  display: flex;
  background-color: white;
  max-width: 350px;
  height: 162px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 12px 18px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  margin-top: 20px;
  position: relative;
  padding: 5px;
  margin-bottom: 20px;
  margin-left: 45px;
  margin-right: 45px;
}


.thumbnail-mp a {
  width: 100%;
  height: 100%;
}

.border-img-mp {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.thumbnail-mp .image {
  position: absolute;
  height: 100%;
  width: 40%;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}

.thumbnail-mp .description {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  height: 100%;
  width: 60%;
  overflow: hidden;
  padding-left: 15px;
  padding-top: 10px;
}

.thumbnail-mp a .description .title {
  font-weight: bold;
  font-size: 18px;
}

.thumbnail-mp a .description .rate {
  flex: 1;
  margin-top: 5px;
}

.thumbnail-mp a .description .rate .price--bold {
  font-weight: bold;
}

.thumbnail-mp a .description .note {
  position: absolute;
  display: flex;
  bottom: 10px;
}

.thumbnail-mp a .description .note i {
  font-size: 12px;
}

.thumbnail-mp a .description .note--starsblue {
  color: var(--primary-color);
}

.thumbnail-mp a .description .note--starsgrey {
  color: var(--third-color);
}

/* ACTIVITES */

.activity {
  width: 95%;
  margin: auto;
  margin-top: 60px;
}

.activity h2 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.container-activity-thumbnail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 480px;
  justify-content: center;
}

.thumbnail-activity {
  max-width: 320px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 12px 18px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.thumbnail-activity a {
  width: 100%;
  height: 100%;
}

.thumbnail-activity img:nth-child(1) {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 100%;
  width: 100%;
  z-index: -2;
  object-fit: cover;
}

/* Image pour responsive mobile (largeur trop grande pour une small) */
.thumbnail-activity img:nth-child(2) {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 100%;
  width: 100%;
  z-index: -2;
  object-fit: cover;
  display: none;
}

.thumbnail-activity h3 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 17px;
  height: 30px;
  display: block;
  width: 100%;
  background-color: white;
  padding: 18px 0 40px 15px;
  z-index: 2;
}

.thumbnail-activity:nth-child(1) {
  height: 100%;
  margin-right: 30px;
}

.thumbnail-activity:nth-child(2) {
  height: 50%;
  margin-bottom: 48px;
  margin-right: 30px;
}

.thumbnail-activity:nth-child(3) {
  height: 40%;
  margin-right: 30px;
}

.thumbnail-activity:nth-child(4) {
  height: 100%;
  margin-right: 30px;
}

.thumbnail-activity:nth-child(5) {
  height: 43%;
  margin-bottom: 48px;
}

.thumbnail-activity:nth-child(6) {
  height: 47%;
}


/* FOOTER */

.footer {
  margin-top: 60px;
  padding: 50px 10px;
  background-color: var(--third-color);
  width: 100%;
}

.container-category {
  width: 95%;
  margin: auto;
  display: flex;
}

.category {
  flex: 1;
}

.category p {
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 25px;
}

.category ul li {
  margin-top: 15px;
}


/* MEDIA QUERY //////////////////////////////////////////////////////////////*/


@media screen and (max-width: 992px) {

  .search,
  .filter,
  .info {
    width: 95%;
    margin: auto;
    margin-top: 20px;
  }

  .filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .filter .icon ul li {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 10px;
  }

  .acco-and-mp {
    flex-direction: column-reverse;
    align-items: center;
    width: 95%;
    margin: auto;
  }

  /* MD 992px => HEBERGEMENT */

  .accommodation {
    width: 100%;
  }

  .container-acco-thumbnail {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 100%;
    justify-content: center;
  }

  .thumbnail-acco a .description .title {
    margin: 5px 0;
  }


  /* MD 992px => Plus populaires */

  .most-popular {
    width: 100%;
    margin: 20px auto;
  }

  .most-popular .title-and-icon i {
    margin-right: 30px;
    margin-top: 25px;
  }

  .container-mp-thumbnail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    margin: auto;
    height: 350px;
  }

  .thumbnail-mp {
    max-width: 245px;
    height: 252px;
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;
  }



  .thumbnail-mp a {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .thumbnail-mp .image {
    position: absolute;
    height: 60%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;

  }

  .thumbnail-mp .description {
    position: absolute;
    left: 0;
    top: 150px;
    width: 100%;
    height: 40%;
  }


  /* MD 992px => ACTIVITES */

  .container-activity-thumbnail {
    height: 1000px;
  }

  .thumbnail-activity {
    max-width: 420px;
  }

  .thumbnail-activity:nth-child(1) {
    height: 30%;
    margin-bottom: 20px;
    margin-right: 85px;
  }

  .thumbnail-activity:nth-child(2) {
    height: 30%;
    margin-bottom: 20px;
    margin-right: 85px;

  }

  .thumbnail-activity:nth-child(3) {
    height: 30%;
    margin-right: 85px;
  }

  .thumbnail-activity:nth-child(4) {
    height: 30%;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .thumbnail-activity:nth-child(5) {
    height: 30%;
    margin-bottom: 20px;

  }

  .thumbnail-activity:nth-child(6) {
    height: 30%;

  }

  /* MD 992px => FOOTER */

  .container-category {
    width: 97%;
  }

}

@media screen and (max-width: 768px) {

  header {
    width: 100%;
    height: 120px;
  }

  .container-header {
    width: 100%;
    margin: auto;
  }

  nav {
    position: relative;
    flex-direction: column;
  }

  nav .link-sub {
    order: 1;
    position: absolute;
    left: 0;
    top: 80px;
    display: flex;
    width: 100%;
    flex-basis: 100%;
    height: 40px;
    justify-content: center;
  }

  nav .link-sub>a {
    width: 50%;
    text-align: center;
    border-bottom: 3px solid var(--third-color);
    padding: 0px;
  }

  nav .link-sub>a:hover {
    border-top: none;
    border-bottom: 3px solid var(--primary-color);
    color: var(--primary-color);
    padding-top: 0px;
  }

  /* MQ 768px => RECHERCHE */

  .search .bar {
    margin-top: 20px;
  }

  .search .bar input {
    width: 75%;
  }

  .search .bar .research-responsive {
    display: flex;
    background-color: var(--primary-color);
    padding: 17px 17px;
    border-radius: 15px;
    color: white;
    border: none;
    margin-left: -20px;
    cursor: grab;
  }

  .search .bar .research {
    display: none;
  }

  /* MQ 768px => INFO */

  .info {
    margin-bottom: 20px;
  }

  /* MQ 768px => PLUS POPULAIRE + HEBERGEMENT */

  .acco-and-mp {
    flex-direction: column-reverse;
    flex: 1;
    width: 100%;
    margin: auto;
  }

  /* MQ 768px => HEBERGEMENT */

  .accommodation {
    background-color: white;
    width: 100%;
    margin: auto;
    padding: 0;
  }

  .accommodation h2 {
    margin-left: 12px;
    margin-bottom: 20px;
    margin-top: 5px;
  }

  .accommodation .more {
    margin-top: 20px;
    margin-left: 13px;
  }

  .container-acco-thumbnail {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    height: 1335px;
  }

  .thumbnail-acco {
    width: 100%;
    height: 200px;
  }

  .thumbnail-acco .image:nth-child(1) {
    display: none;
  }

  .thumbnail-acco .image:nth-child(2) {
    display: block;
  }

  .thumbnail-acco:nth-child(4),
  .thumbnail-acco:nth-child(5),
  .thumbnail-acco:nth-child(6) {
    margin-bottom: 20px;
  }

  .thumbnail-acco .description {
    height: 80px;
  }



  /* MD 768px => PLUS POPULAIRES */

  .most-popular {
    margin: 0;
    border-radius: 0;
    padding: 20px 0px;
    width: 100%;
    margin: 20px auto;
  }

  .most-popular h2 {
    margin-left: 12px;
    margin-top: 0;
  }

  .most-popular .title-and-icon i {
    margin-right: 15px;
    margin-top: 5px;
  }

  .container-mp-thumbnail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 530px;
    width: 95%;
    margin: auto;
  }

  .thumbnail-mp {
    max-width: 100%;
    height: 150px;
    margin: 10px 0;
  }

  .thumbnail-mp a {
    margin: 0;
  }

  .thumbnail-mp .image {
    width: 40%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
  }

  .thumbnail-mp .description {
    left: 130px;
    top: 0;
    width: 60%;
    height: 100%;
    padding-left: 8px;
  }

  .thumbnail-acco a .description .title {
    margin: 2px 0;
  }

  /* MD 768px => ACTIVITES */

  .activity {
    margin-top: 40px;
  }

  .activity h2 {
    margin-left: 0px;
  }

  .container-activity-thumbnail {
    height: 1330px;
  }

  .thumbnail-activity {
    max-width: 100%;
  }

  .thumbnail-activity:nth-child(1) {
    height: 200px;
    margin-bottom: 25px;
    margin-right: 0px;
  }

  .thumbnail-activity:nth-child(2) {
    height: 200px;
    margin-bottom: 25px;
    margin-right: 0px;

  }

  .thumbnail-activity:nth-child(3) {
    height: 200px;
    margin-right: 0px;
    margin-bottom: 25px;
  }

  .thumbnail-activity:nth-child(4) {
    height: 200px;
    margin-right: 0px;
    margin-bottom: 25px;
  }

  .thumbnail-activity:nth-child(5) {
    height: 200px;
    margin-bottom: 25px;

  }

  .thumbnail-activity:nth-child(6) {
    height: 200px;
  }

  .thumbnail-activity img:nth-child(1) {
    display: none;
  }

  .thumbnail-activity img:nth-child(2) {
    display: block;
  }


  /* MD 768px => FOOTER */


  .footer {
    margin-top: 60px;
    padding: 50px 0px;
    width: 100%;
  }

  .container-category {
    width: 95%;
    margin: auto;
    flex-direction: column;
  }

  .category {
    margin-bottom: 40px;
  }

}