/* Importation du fichier normalize.css */

@import url("normalize.css");

/* BASE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,800;1,100;1,200;1,300;1,400&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* HEADER */

header {
  width: 80%;
  height: 80px;
  margin: auto;
  margin-top: 20px;
}

/* NAVIGATION */

nav {
  display: flex;
  align-items: center;
}

nav .logo img {
  width: 120px;
}

nav .link {
  display: flex;
  margin-left: auto;
  flex-wrap: wrap;
}

nav .link a {
  padding: 0px 30px;
}

nav .link a:hover {
  border-top: 5px solid #0065FC;
  color: #0065FC;
  padding-top: 38px;
}

/* RECHERCHE */

.search {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.search .title p {
  padding-bottom: 10px;
}

.search .title p:nth-child(1) {
  font-weight: bold;
  font-size: 25px;
}

.search .title p:nth-child(2) {
  font-size: 15px;
}

.search .bar {
  position: relative;
  margin-top: 10px;
  display: flex;
}

.search .bar input {
  border: 1px solid #F2F2F2;
  height: 50px;
  width: 180px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 18px;
}

.search .bar input::placeholder {
  color: black;
}

.search .bar input:focus {
  outline: none;
}

.search .bar i:nth-child(1) {
  background-color: #F2F2F2;
  padding: 17.5px;
  border-radius: 15px 0px 0px 15px;
}

.search .bar i:nth-child(3) {
  display: none;
}

.search .bar button {
  background-color: #0065FC;
  border: none;
  height: 49px;
  color: white;
  padding: 0 15px;
  border-radius: 0px 15px 15px 0px;
  font-weight: bold;
}

/* FILTRES */

.filter {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.filter .icon ul {
  display: flex;
  flex-wrap: wrap;
}

.filter .icon ul li {
  position: relative;
  font-weight: bold;
  padding: 14px 20px 14px 60px;
  border: 3px solid #F2F2F2;
  border-radius: 50px;
  margin-left: 30px;
}

.filter .icon ul li:nth-child(2)>i {
  padding: 14px 19px;
}

.filter .icon ul li:nth-child(2):hover>i {
  padding: 11px 16px;
}

.filter .icon ul li:hover {
  background-color: #DEEBFF;
}

.filter .icon ul li:hover i {
  background-color: white;
  border: 3px solid #F2F2F2;
  padding: 12px 12px;
}

.filter .icon i {
  position: absolute;
  left: -5px;
  top: -2px;
  color: #0065FC;
  font-size: 20.8px;
  border-radius: 50px;
  padding: 15px 15px;
  background-color: #DEEBFF;
}

/* INFO */

.info {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.info i {
  border: 1px solid #b1a5a5;
  border-radius: 50%;
  padding: 4px 10px 6px 10px;
  color: #0065FC;
  font-size: 16px;
  margin-right: 5px;
}

/* HEBERGEMENT + PLUS POPULAIRES */

.acco-and-mp {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* HEBERGEMENT */

.accommodation {
  flex: 2.5;
  background-color: #F2F2F2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accommodation h3 {
  padding-top: 20px;
  font-size: 30px;
  margin-left: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.accommodation .more {
  margin: 20px 35px;
  font-weight: 700;
  font-size: 20.8px;
}

.container-acco-thumbnail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.thumbnail-acco {
  flex-direction: column;
  background-color: white;
  width: 290px;
  height: 210px;
  margin: 15px 15px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 12px 18px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  transition: ease 0.1s;
}

.thumbnail-acco:hover {
  transform: scale(1.05);
}


.thumbnail-acco .image {
  flex: 2.5;
  position: relative;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  margin: 5px;
}

.thumbnail-acco .image img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  object-fit: contain;
}

.thumbnail-acco .description {
  flex: 1.5;
  margin-left: 20px;
  margin-top: 3px;
}

.thumbnail-acco .description .title {
  font-size: 18px;
  font-weight: bold;
  margin: 1px 0;
}

.thumbnail-acco .description .rate {
  font-size: 16px;
  margin: 3px 0;
}

.thumbnail-acco .description .rate .price--bold {
  font-weight: bold;
}

.thumbnail-acco .description .note {
  display: flex;
  margin: 7px 0;
}

.thumbnail-acco .description .note i {
  font-size: 12px;
}

.thumbnail-acco .description .note--starsblue {
  color: #0065FC;
}

.thumbnail-acco .description .note--starsgrey {
  color: #F2F2F2;
}

/* PLUS POPULAIRES */

.most-popular {
  flex: 0.5;
  background-color: #F2F2F2;
  border-radius: 20px;
  padding: 20px 30px;
  margin-left: 50px;
}

.most-popular>.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 25px;
}

.most-popular i {
  margin-right: 10px;
}

.most-popular .container-mp-thumbnail {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.most-popular .container-mp-thumbnail .thumbnail-mp {
  background-color: white;
  width: 390px;
  height: 150px;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 12px 18px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  transition: ease 0.1s;
}

.thumbnail-mp:hover {
  transform: scale(1.05);
}

.thumbnail-mp .image {
  flex: 1;
}

.thumbnail-mp .image img {
  width: 140px;
  height: 150px;
  padding: 7px;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}

.thumbnail-mp .description {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.thumbnail-mp .description .title {
  flex: 1;
  margin-top: 10px;
  font-weight: bold;
}

.thumbnail-mp .description .rate {
  flex: 1;
}

.thumbnail-mp .description .note {
  flex: 1;
  display: flex;
  align-items: flex-end;
  padding-bottom: 15px;
}

.thumbnail-mp .description .note i {
  font-size: 11.2px;
}

.thumbnail-mp .description .note--starsblue {
  color: #0065FC;
}

.thumbnail-mp .description .note--starsgrey {
  color: #F2F2F2;
}

/* ACTIVITES */

.activity {
  width: 80%;
  margin: auto;
  margin-top: 60px;
}

.activity .title>h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.container-activity-thumbnail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.thumbnail-activity {
  width: 280px;
  height: 410px;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 12px 18px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  margin-top: 20px;
  transition: ease 0.1s;
}

.thumbnail-activity:hover {
  transform: scale(1.05);
}

.thumbnail-activity__group1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.thumbnail-activity__group1 a:nth-child(1)>.thumbnail-activity {

  height: 190px;
}

.thumbnail-activity__group1 a:nth-child(2)>.thumbnail-activity {
  height: 160px;
}

.thumbnail-activity__group2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.thumbnail-activity__group2 a:nth-child(1)>.thumbnail-activity {
  height: 180px;
}

.thumbnail-activity__group2 a:nth-child(2)>.thumbnail-activity {
  height: 190px;
}

.thumbnail-activity .title {
  flex: 0.5;
}

.thumbnail-activity .title>h4 {
  padding: 20px;
}

.thumbnail-activity .image {
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  flex: 3.5;
}

.thumbnail-activity .image img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FOOTER */

.footer {
  margin-top: 60px;
  padding: 50px 0px;
  background-color: #F2F2F2;
  width: 100%;
}

.container-ul {
  width: 80%;
  margin: auto;
  display: flex;
  /*justify-content: space-evenly;
  margin-left: 0; */

}

.footer ul {
  margin-right: 400px;
}

.footer ul li {
  margin-bottom: 20px;
}



/* MEDIA QUERY //////////////////////////////////////////////////////////////*/
@media screen and (max-width: 1256px) {
  .filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .filter .icon ul li {
    margin-left: 0;
    margin-right: 10px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 1416px) {

  .thumbnail-activity {
    margin-right: 95px;
  }

  .thumbnail-activity__group1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .thumbnail-activity__group1 a {
    display: inline-block;
    width: 50%;
  }

  .thumbnail-activity__group2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .thumbnail-activity__group2 a {
    display: inline-block;
    width: 50%;
  }

  .footer ul {
    margin-right: 170px;
  }
}

@media screen and (max-width: 992px) {

  header,
  .search,
  .filter,
  .info {
    width: 95%;
    margin: auto;
    margin-top: 20px;
  }

  .filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .filter .icon ul li {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 10px;
  }

  .search .bar {
    justify-content: center;
  }

  .acco-and-mp {
    flex-direction: column-reverse;
    align-items: center;
    width: 95%;
    margin: auto;
  }

  .most-popular {
    width: 100%;
    margin: 20px auto;
  }

  .most-popular>.title {
    margin-bottom: 30px;
  }

  .most-popular .container-mp-thumbnail {
    display: inline-block;
    width: 100%;
  }

  .most-popular .container-mp-thumbnail .thumbnail-mp {
    width: 100%;
    margin: 10px auto;
  }

  .thumbnail-mp .image {
    flex: 0;
  }

  .thumbnail-mp .description .title {
    margin-top: 20px;
    font-size: 20px;
  }

  .thumbnail-mp .description .rate {
    font-size: 17px;
  }


  .activity {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }

  .container-activity-thumbnail {
    width: 100%;
    margin: auto;
  }

  .thumbnail-activity {
    margin-bottom: 20px;
    margin-right: 40px;
  }

  .thumbnail-activity__group1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .thumbnail-activity__group1 a {
    display: inline-block;
    width: 80%;
  }

  .thumbnail-activity__group2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .thumbnail-activity__group2 a {
    display: inline-block;
    width: 80%;
  }

  .container-ul {
    width: 95%;
    margin: auto;
    display: flex;
  }

  .footer ul {
    margin-right: 150px;
  }

}

@media screen and (max-width: 768px) {

  header {
    width: 100%;
    height: 120px;
  }

  nav {
    position: relative;
    flex-direction: column;
  }

  nav .link-sub {
    order: 1;
    position: absolute;
    left: 0;
    top: 80px;
    display: flex;
    width: 100%;
    flex-basis: 100%;
    height: 40px;
    justify-content: center;
  }

  nav .link-sub>a {
    flex-basis: 50%;
    text-align: center;
  }

  nav .link-sub>a:hover {
    border-top: none;
    border-bottom: 3px solid #0065FC;
    color: #0065FC;
    padding-top: 0px;
  }

  .search .bar {
    justify-content: center;
    margin-top: 20px;
  }

  .search .bar input {
    width: 250px;
  }

  .search .bar i:nth-child(3) {
    display: flex;
    position: absolute;
    background-color: #0065FC;
    padding: 17px 17px;
    border-radius: 15px;
    color: white;
    margin-right: -300px;

  }

  .search .bar button {
    display: none;
  }

  .info {
    margin-bottom: 20px;
  }

  .acco-and-mp .accommodation {
    background-color: white;
    width: 95%;
    margin: auto;
  }

  .accommodation h3 {
    margin-left: 15px;
  }

  .acco-and-mp .accommodation .container-acco-thumbnail {
    width: 100%;
    margin: auto;
    padding: 0;
    display: inline;
  }

  .acco-and-mp .accommodation .container-acco-thumbnail .thumbnail-acco {
    width: 95%;
    margin: 30px auto;
  }

  .acco-and-mp .accommodation .container-acco-thumbnail .image img {
    width: 100%;
    height: 1000px;
  }

  .acco-and-mp .accommodation .more {
    margin-top: 20px;
    margin-left: 10px;
  }

  .acco-and-mp {
    flex-direction: column-reverse;
    flex: 1;
    width: 100%;
    margin: auto;
  }

  .acco-and-mp .most-popular {
    margin: 0;
    border-radius: 0;
    background-color: #F2F2F2;
    padding: 40px 0px;
  }

  .most-popular>.title {
    margin-left: 30px;
  }

  .most-popular .container-mp-thumbnail .thumbnail-mp {
    width: 90%;
    margin: 10px auto;
  }


  .activity {
    width: 95%;
    margin: auto;
    margin-top: 40px;
  }

  .activity .title>h3 {
    margin-left: 10px;
  }

  .container-activity-thumbnail {
    display: inline-block;
    width: 100%;
    margin: auto;
    margin-top: 10px;
  }

  .thumbnail-activity {
    width: 95%;
    height: 200px;
    margin: 20px auto;
  }

  .thumbnail-activity__group1 a {
    width: 100%;
  }

  .thumbnail-activity__group1 a:nth-child(1)>.thumbnail-activity {
    height: 200px;
  }

  .thumbnail-activity__group1 a:nth-child(2)>.thumbnail-activity {
    height: 200px;
  }

  .thumbnail-activity__group2 a {
    width: 100%;
  }

  .thumbnail-activity__group2 a:nth-child(1)>.thumbnail-activity {
    height: 200px;
  }

  .thumbnail-activity__group2 a:nth-child(2)>.thumbnail-activity {
    height: 200px;
  }

  .container-ul {
    width: 90%;
    flex-direction: column;
  }

  .footer ul {
    margin-right: 0px;
    margin-top: 30px;
  }
}